@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body::-webkit-scrollbar{
	display: none;
}
body{
	-ms-overflow-style:none;
	scrollbar-width: none;
}


.img_slider{
	display: flex;
	position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
	opacity: 0.5;
	overflow: hidden;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .0} 
	to {opacity: 0.5}
  }
  
  @keyframes fade {
	from {opacity: .0} 
	to {opacity: 0.5}
  }

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 200000; /* Sit on top */
	left: 0;
	top: 0;
	justify-content: center;
	align-items: center;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

	.modal-content {
	  padding: 0%;
	  width: 100%;
	  max-width: 600px;
	  height: auto;
	}

	
	  /* Add Animation */
	  .modal-content{  
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;
	  }
	  
	  @-webkit-keyframes zoom {
		from {-webkit-transform:scale(0)} 
		to {-webkit-transform:scale(1)}
	  }
	  
	  @keyframes zoom {
		from {transform:scale(0)} 
		to {transform:scale(1)}
	  }

		  /* The Close Button */
		  .close {
			position: absolute;
			top: 15px;
			right: 35px;
			color: #f1f1f1;
			font-size: 40px;
			font-weight: bold;
			transition: 0.3s;
		  }
		  
		  .close:hover,
		  .close:focus {
			color: #bbb;
			text-decoration: none;
			cursor: pointer;
		  }



#scene{
	overflow: hidden;
}


.containe
{
	isolation: isolate;
	width: 100%;
	height: 100vh;
	background: url(img/space.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mixBlnd
{
	background-blend-mode: screen;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
    height:auto;
    width:200px;
    float:left;
    margin-top: 20px;
    padding: 10px;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.6rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: rgb(36, 35, 35);
	margin-bottom: 10px;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: rgb(5, 5, 112);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(20, 57, 220);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgba(22, 5, 180, 0.89);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(20, 83, 220);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: .3s ease background-color;
	background-color:#003049 ;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: rgb(0, 35, 87);
	background-color: #0abbe7;}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	isolation: isolate;
	background: linear-gradient(45deg, black, transparent);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(8, 1, 102);
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */




/* About Us Section
--------------------------------*/

#about {
	padding:0;
  }

#about .containerr{
	padding: 30px;
}
  
  #about .about-content {
	padding-top: 40px;
  }
  
  #about .about-content h2 {
	color: #413e66;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
  }
  
  #about .about-content h3 {
	color: #696592;
	font-weight: 400;
	font-size: 30px;
	font-style: italic;
  }
  
  #about .about-content ul {
	list-style: none;
	padding: 0;
  }
  
 
  #about .about-content ul li i {
	font-size: 29px;
	padding-right: 4px;
	color: #1bb1dc;
  }
  
  #about .about-img {
	position: relative;
	margin: 30px 30px 30px 30px;
  }
  
  #about .about-img img {
	width: 100%;
	border: 8px solid #fff;
	transition: .5s;
  }
  
  #about .about-img img:hover {
	width: 100%;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
  }
  
  #about .about-img::before {
	position: absolute;
	left: -31px;
	top: -30px;
	width: 90%;
	height: 92%;
	z-index: -1;
	content: '';
	background-color: #ebf1fa;
	transition: .5s;
  }
  
  #about .about-img::after {
	position: absolute;
	right: -31px;
	bottom: -30px;
	width: 90%;
	height: 92%;
	z-index: -1;
	content: '';
	background-color: #ebf1fa;
	transition: .5s;
  }

  .slider{
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	animation: slide 30s infinite;
	background-size: cover;
}

.load{
	animation: slide 1s;
	width: 100%;
	height: auto;
	background: rgba(0,0,0,0.5)
}

.content{
	color: #fff;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.principal{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 5px;
	text-align: center;
}
.principal h1{
	font-size: 70px;
	margin-bottom: 20px;
}
.principal h2{
	text-transform: capitalize;
	font-size: 20px;
	color: #fff;
}

.details h2 span:nth-child(1){
	color: red;
}

.details h2 span:nth-child(2){
	color: yellow;
}


@keyframes slide{
	0%,100%{
		background-image: url(img/1.png);
	}
	25%{
		background-image: url(img/2.png);
	}
	50%{
		background-image: url(img/3.png);
	}
	75%{
		background-image: url(img/4.png);
	}
}
  /* End About section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-bottom > div{
	position: relative;
	padding: 30px;
	border-radius: 10px;
	background-size: cover;
	margin: 25px 5%;
	z-index: 1;
	width: 300px;
	height: 500px;
	background-position-x:center;
}




#services .service-bottom  .pop-up{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #4a6e86;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

#services .service-bottom  .pop-down{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #024b63;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
#services .service-bottom .service-item1{
	background-image: url(./img/manan.jpg);
}

#services .service-bottom .service-item1:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item1:hover .pop-down{
	height: 10%;
}

#services .service-bottom .service-item2{
	background-image: url(./img/vp.jpg);
}

#services .service-bottom .service-item2:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item2:hover .pop-down{
	height: 10%;
}

#services .service-bottom .service-item3{
	background-image: url(./img/secretary.jpg);
}

#services .service-bottom .service-item3:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item3:hover .pop-down{
	height: 10%;
}

#services .service-bottom .service-item4{
	background-image: url(./img/deeksha.jpg);
}

#services .service-bottom .service-item4:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item4:hover .pop-down{
	height: 10%;
}
/* End Services Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	height: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
	font-size: small;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .001;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid rgb(20, 40, 220);
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

#contact .contact-items{
	width: 100%;
}

#contact .contact-item {
	width: 80%;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

#location{
	isolation: isolate;
	margin: 20px;
	background: #000;
	width: 90%;
	height: 400px;
}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
.brand{
	text-align: center;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(20, 157, 220);
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	
#hero-pic div{
	padding: 50px;
}

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */

	#about{
		padding: 80px 30px;
	}

	#about .containerr{
		padding: 150px;
	}

	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(40, 20, 220);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

	#openBig {
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
	  }
	  
	  #openBig:hover {opacity: 0.7;}
	  
	  /* The Modal (background) */
	  .modal {
	padding-top: 100px; /* Location of the box */
	  }
	  
	  /* Modal Content (image) */
	  .modal-content {
		display: block;
		padding: 80px;
		width: 100%;
		max-width: 1200px;
		max-height: 600px;
		height: auto;
	  }
	
}
/* End  Media Query For Desktop */

/* bg color*/
body #projects
{
	background-image: linear-gradient(to left,#80e5ff,
  #00a3cc)
}
/*end bg color*/

/*for active link in nav bar*/
.active{
	background-color:#F77F00; 
		}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: large;
  font-weight: bolder;
  

}		

/*back to top*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:	 #0039e6 ; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color:  #4d4dff; 
}

/*back to top end*/