@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
.containe
{
	width: 100%;
	height: 100vh;
	background: url(img/space.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.mixBlnd
{
	background-blend-mode: screen;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
    height:auto;
    width:200px;
    float:left;
    margin-top: 20px;
    padding: 10px;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: rgb(36, 35, 35);
	margin-bottom: 10px;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: rgb(5, 5, 112);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(20, 57, 220);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgba(22, 5, 180, 0.89);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(20, 83, 220);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: rgb(0, 35, 87);
	background-color: #0abbe7;}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

#about {
	padding: 80px 30px;
  }
  
  #about .about-content {
	padding-top: 40px;
  }
  
  #about .about-content h2 {
	color: #413e66;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
  }
  
  #about .about-content h3 {
	color: #696592;
	font-weight: 400;
	font-size: 30px;
	font-style: italic;
  }
  
  #about .about-content ul {
	list-style: none;
	padding: 0;
  }
  
  #about .about-content ul li {
	padding-bottom: 10px;
  }
  
  #about .about-content ul li i {
	font-size: 29px;
	padding-right: 4px;
	color: #1bb1dc;
  }
  
  #about .about-img {
	position: relative;
	margin: 30px 30px 30px 30px;
  }
  
  #about .about-img img {
	width: 100%;
	border: 8px solid #fff;
	transition: .5s;
  }
  
  #about .about-img img:hover {
	width: 100%;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
  }
  
  #about .about-img::before {
	position: absolute;
	left: -31px;
	top: -30px;
	width: 90%;
	height: 92%;
	z-index: -1;
	content: '';
	background-color: #ebf1fa;
	transition: .5s;
  }
  
  #about .about-img::after {
	position: absolute;
	right: -31px;
	bottom: -30px;
	width: 90%;
	height: 92%;
	z-index: -1;
	content: '';
	background-color: #ebf1fa;
	transition: .5s;
  }

  .slider{
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	animation: slide 30s infinite;
	background-size: cover;
}

.load{
	animation: slide 1s;
	width: 100%;
	height: auto;
	background: rgba(0,0,0,0.5)
}

.content{
	color: #fff;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.principal{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 5px;
	text-align: center;
}
.principal h1{
	font-size: 70px;
	margin-bottom: 20px;
}
.principal h2{
	text-transform: capitalize;
	font-size: 20px;
	color: #fff;
}

.details h2 span:nth-child(1){
	color: red;
}

.details h2 span:nth-child(2){
	color: yellow;
}


@keyframes slide{
	0%,100%{
		background-image: url(img/1.png);
	}
	25%{
		background-image: url(img/2.png);
	}
	50%{
		background-image: url(img/3.png);
	}
	75%{
		background-image: url(img/4.png);
	}
}
  /* End About section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

/*faculty
core team 2020-21
osa members
team 2019-20
team 2018-19*/
#services .service-item_faculty {
	flex-basis: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/manan.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 300px;
	height: 500px;
}
#services .service-item1 {
	flex-basis: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/manan.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 300px;
	height: 500px;
}

#services .service-item2 {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/vp.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 500px;

}#services .service-item3 {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/secretary.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 500px;

}#services .service-item4 {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/deeksha.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 500px;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item1 h1 {
	font-size: 2rem;
	color: white;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#services .service-item2 h1 {
	font-size: 2rem;
	color: white;
	text-transform: uppercase;
	align-self: center;


}#services .service-item3 h1 {
	font-size: 2rem;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0px;
	align-self: center;


}#services .service-item4 h1 {
	font-size: 2rem;
	color: white;
	text-transform: uppercase;
	margin-bottom: 10px;
	align-self: center;

}
#services .service-item p {
	color: white;
	text-align: left;
}
#services .member h4 {
	font-weight: 700;
	margin-bottom: 2px;
	font-size: 18px;
	color: #fff;
  }
  #services .member p {
	margin-bottom: 0;
	font-size: 13px;
	color: #fff;
  }
  
  #services .member span {
	font-style: italic;
	display: block;
	font-size: 15px;
	color: #fff;
  }
  #services .service-bottom  .pop-up{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #4a6e86;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

#services .service-bottom  .pop-down{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #024b63;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

#services .service-bottom .service-item_faculty{
	background-image: url(./img/manan.jpg);
}

#services .service-bottom .service-item_faculty:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item_faculty:hover .pop-down{
	height: 15%;
}

#services .service-bottom .service-item1{
	background-image: url(./img/manan.jpg);
}

#services .service-bottom .service-item1:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item1:hover .pop-down{
	height: 15%;
}

#services .service-bottom .service-item2{
	background-image: url(./img/vp.jpg);
}

#services .service-bottom .service-item2:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item2:hover .pop-down{
	height: 15%;
}

#services .service-bottom .service-item3{
	background-image: url(./img/secretary.jpg);
}

#services .service-bottom .service-item3:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item3:hover .pop-down{
	height: 15%;
}

#services .service-bottom .service-item4{
	background-image: url(./img/deeksha.jpg);
}

#services .service-bottom .service-item4:hover .pop-up{
	height: 10%;
}

#services .service-bottom .service-item4:hover .pop-down{
	height: 15%;
}
.social-icon {
	display: flex;
	margin-bottom: 30px;
}
.social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
.social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
.social-item:hover img {
	filter: grayscale(0);
}
/* for members other than core team*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 10%;
  padding: 0 4px;
  height: 30%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.column1 {
  flex: 50%;
  padding: 0 4px;
  height: 30%;
}

.column1 img {
  margin-top: 8px;
  vertical-align: middle;
}

.column2 {
  flex: 30%;
  padding: 0 4px;
  height: 30%;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
}


/* End Services Section */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(20, 157, 220);
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
